body{
  background-color: #ffa2d5;
color:#fdffff;
width: 500px;
margin-right: auto;
margin-left: auto;
}
button{
  padding: 5px 20px;
  background-color:#ce00e0;
  color: #fdffff;
  border-style:none
  
}
input{
  height:24px;
}